.input-group {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 1rem;
}
.custom-label {
  opacity: 0.8;
  margin-right: 1rem;
}
.custom-input {
  padding: 4px 12px;
  font-size: 1.2rem;
}
.action {
  display: flex;
  justify-content: center;
  button {
    padding: 0.5rem 1.5rem;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}